<h1>Shorts</h1>

<%= paginate @shorts %>

<% @shorts.each do |short| %>
  <div>
    <p>Title: <%= link_to short.title, short_path(short) %></p>
    <p>Type: <%= short.short_type %></p>
    <p>Handle: <%= short.handle %></p>
    <p>Year: <%= short.year %></p>
  </div>
<% end %>

