<h1><%= @book.title %></h1>
<p><strong>Year:</strong> <%= @book.year %></p>
<p><strong>Pages:</strong> <%= @book.pages %></p>


# <h1><%= @book_details['Title'] %></h1>
# <p>Year: <%= @book_details['Year'] %></p>
# <p>Handle: <%= @book_details['handle'] %></p>
# <p>Publisher: <%= @book_details['Publisher'] %></p>
# <p>ISBN: <%= @book_details['ISBN'] %></p>
# <p>Pages: <%= @book_details['Pages'] %></p>
# <p>Notes: <%= @book_details['Notes'].join(", ") %></p>
# <p>Created At: <%= @book_details['created_at'] %></p>

# <h2>Villains</h2>
# <ul>
#   <% @villains.each do |villain| %>
#     <li>
#       <%= villain['name'] %> - <%= link_to 'More Info', villain['url'], target: '_blank' %>
#     </li>
#   <% end %>
# </ul>
