<!DOCTYPE html>
<html>
<head>
  <title>Villains Database</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav>
    <!-- Search Form -->
    <%= form_with url: villains_path, method: :get, local: true do %>
      <%= label_tag :query, "Search by villain's name:" %>
      <%= text_field_tag :query, params[:query] %>
      
      <%= label_tag :gender, "Filter by gender:" %>
      <%= select_tag :gender, options_for_select(@genders, params[:gender]), include_blank: true %>
      
      <%= submit_tag "Search" %>
    <% end %>
    
    
  </nav>
</header>

<%= render 'shared/nav' %>
<%= yield %>
</body>
</html>
