<!DOCTYPE html>
<html>
<head>
  <title>Villains Database</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
    <nav>

      
      <!-- Search Form -->
      <%= form_with url: books_path, method: :get, local: true, class: "search-form" do |form| %>
        <div class="search-container">
          <%= form.label :query, "Search:" %>
          <%= form.text_field :query, value: params[:query], placeholder: "Search books...", class: "search-input" %>
          <%= form.submit "Search", class: "search-button" %>
        </div>
      <% end %>
    </nav>
  </header>

  <%= render 'shared/nav' %>
  <%= yield %>
</body>
</html>
