<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Villains Database</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav>
    <!-- Search Form -->
    <%= form_with url: villains_path, method: :get, local: true do %>
      <%= label_tag :query, "Search by villain's name:" %>
      <%= text_field_tag :query, params[:query] %>
      
      <%= label_tag :gender, "Filter by gender:" %>
      <%= select_tag :gender, options_for_select(@genders, params[:gender]), include_blank: true %>
      
      <%= submit_tag "Search" %>
    <% end %>
  </nav>


<%= render 'shared/nav' %>
<%= yield %>

<!-- Erd Conditional -->
<div>
  <% if defined?(@villains) && @villains.present? %>
    <ul>
      <% @villains.each do |villain| %>
        <li>
          <%= link_to villain.name, villain_path(villain) %>
          <ul>
            <% villain.books.each do |book| %>
              <li><%= link_to book.title, book_path(book) %></li>
            <% end %>
            <% villain.shorts.each do |short| %>
              <li><%= link_to short.title, short_path(short) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No villains found.</p>
  <% end %>
</div>
</body>
</html>
